{% extends 'layouts/base.html' %}
{% load static %}
{% load company_tags %}
{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Skills</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{ all_skills_count }}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-settings-gear-65 text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <form method="GET" action="{% url 'admin-skills' %}">
            <div class="col-md-12 mb-lg-0 mb-4">
                <div class="card mt-4">
              <div class="card-header pb-0 p-3">
                <div class="row">
                  <div class="col-3 d-flex align-items-center">
                    <h6 class="mb-0">Search with Filters</h6>
                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div id="autocomplete-skills" class="autocomplete">
                      <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0">Enter Skill</h6>
                      </div>
                      <input class="autocomplete-input" name="skill-name" id="skill-name" value="" placeholder="Search For Skill..."/>
                      <ul class="autocomplete-result-list"></ul>
                    </div>
                  </div>
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div  class="autocomplete">
                        <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0"></h6>
                      </div>
                      <input type="submit" value="Search" class="btn bg-gradient-success w-auto " style="margin-left: 40%; margin-top: 28px;" >
                    </div>
                  </div>
                  <div class="col-md-4 mb-md-0 mb-4">
                    <div  class="autocomplete">
                        <div class="col-6 d-flex align-items-center" style="margin: 5px">
                        <h6 class="mb-0"></h6>
                      </div>
                      <a id="add-skill" class="btn bg-gradient-dark mb-0" href="javascript:;" style="margin-top: 28px ; margin-left: 150px"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Skill</a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </form>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Skills</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Skill ID</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Skill</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for skill in skills_list %}
                  <tr>
                    <td id="skill_id_td">
                      {{ skill.id }}
                    </td>
                    <td id="sklll_name_td">
                      {{ skill.name }}
                    </td>
                    <td class="align-middle text-center">
                      <a id="edit-skill-button" class="badge badge-sm bg-gradient-faded-dark" data-toggle="tooltip" data-original-title="Edit">
                        Edit
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pagination-->
    {% include '../../../includes/pagination.html' %}
    <!--end of Pagination-->

        <!--Modals-->
        <div class="modal fade " id="skillModal" tabindex="-1" aria-labelledby="skillModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content  bg-gradient">
                <div class="modal-header bg-gradient-dark" >
                  <h5 class="modal-title text-white" id="skillModalLabel">Add New Skill</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-black-50">
                    <h4 class="heading mt-4" id="modal-header-message">Enter new Skill!</h4>

                        <input type="text" name="new_skill" id="new_skill" class="form-control" placeholder="Enter Skill..."/>

                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="skill_submit">Submit</button>
                  <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade " id="skillUpdateModal" tabindex="-1" aria-labelledby="skillpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content  bg-gradient">
            <div class="modal-header bg-gradient-dark" >
              <h5 class="modal-title text-white" id="skillUpdateModalLabel">Add New Skill</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center text-black-50">
                <h4 class="heading mt-4" id="modal-update-header-message">Update Skill!</h4>
                    <input type="text" name="update_skill" id="update_skill_input" class="form-control" placeholder="Enter Skill..." value="adwa"/>
                    <input name="skill_id" id="update_skill_id" class="form-control" value="" hidden/>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="skill_update_submit">Submit</button>
              <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade " id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content  bg-gradient">
            <div class="modal-header bg-gradient-info" >
              <h5 class="modal-title text-white" id="alertModalLabel">Alert</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="alert alert-danger text-white font-weight-bold" role="alert" id="alert_modal_text">
                  A simple primary alert—check it out!
                </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <!--end of Modals-->
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
        if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
        }
    });

    new Autocomplete('#autocomplete-skills', {
          search: input => {
              const url = {% url 'admin-search-skills' %} + `?name=${input}`
              return new Promise(resolve => {
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      console.log(data)
                      resolve(data.data)
                  })
              })
          }
        });

    $(document).on("click", "#edit-skill-button", function() {
        var row_name = $(this).parent().siblings('#sklll_name_td').text().trim();
        var row_id = $(this).parent().siblings('#skill_id_td').text().trim();
        $('#update_skill_input').val(row_name);
        $('#update_skill_id').val(row_id);
        $("#skillUpdateModal").modal('show');
    });

    $(document).on("click", "#skill_update_submit", function() {
        var skill = document.getElementById('update_skill_input').value;
        var skill_id = document.getElementById('update_skill_id').value;
        $.ajax({
             type: 'POST',
             url: "{% url 'admin-update-skill'%}" ,
             data: {
                 'skill': skill,
                 'id': skill_id
             },
             dataType: 'json',
             success: function(data) {
                 $('#alert_modal_text').text(data.message)
                 $("#alertModal").modal('show');
             },
             error: function(data){
                 $('#alert_modal_text').text(data.message)
                 $("#alertModal").modal('show');
                 location.reload();
             }
        })
    });

    $(document).on("click", "#add-skill", function() {
        $("#skillModal").modal('show');
    });

    $(document).on("click", "#skill_submit", function() {
        var new_skill = document.getElementById('new_skill').value;
        $.ajax({
             type: 'POST',
             url: "{% url 'admin-add-new-skill' %}",
             data: {
                 'skill': new_skill,
             },
             dataType: 'json',
             success: function(data) {
                 $('#alert_modal_text').text(data.message)
                 $("#alertModal").modal('show');
             },
             error: function(data){
                 $('#alert_modal_text').text(data.message)
                 $("#alertModal").modal('show');
             }
        })
        $('#new_skill').val('');
    });
    </script>
{% endblock javascripts %}
